<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ /yourls-loader.php [L]
</IfModule>

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<files config*.php>
  order allow,deny
  deny from all
</files>

<filesmatch "\.(htaccess|htpasswd|ini|psd|log|sh|bat|json|md|html|dat|txt)$">
  order allow,deny
  deny from all
</filesmatch>

<files readme.html>
  order deny,allow
  allow from all
</files>
