<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ /yourls-loader.php [L]
</IfModule>

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<Files config*.php>
  Require all denied
</Files>

<FilesMatch "\.(htaccess|htpasswd|ini|psd|log|sh|bat|json|lock|md|html|dat|txt|inc|pem|key|swp|svn|git|gitignore)$">
  Require all denied
</FilesMatch>

<FilesMatch "composer\.(json|lock)$">
  Require all denied
</FilesMatch>

<FilesMatch "(LICENSE|COPYING|CHANGELOG)">
  Require all denied
</FilesMatch>
