<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ /yourls-loader.php [L]
</IfModule>

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<files config.php>
  order allow,deny
  deny from all
</files>

<files config-sample.php>
  order allow,deny
  deny from all
</files>

<files *.md>
  order allow,deny
  deny from all
</files>

<files sample*>
  order allow,deny
  deny from all
</files>

<files composer.json>
  order allow,deny
  deny from all
</files>

<files *.html>
  order allow,deny
  deny from all
</files>

<files readme.html>
  order deny,allow
  allow from all
</files>
